/* #region - Utilities */

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --primary-color: #ef491f;
  --secondary-color: #eef866;
  --neutral-color: #f6f2f0;
  --major-font: 'Bowlby One', sans-serif;
  --minor-font: 'Oswald', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--neutral-color);
  font-family: var(--minor-font);
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 0.9rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: var(--minor-font);
  font-size: 1.5rem;
  border: none;
}

.btn:hover {
  background-color: #222;
}

.btn:active {
  scale: 0.95;
}

.hidden {
  display: none;
}

.txt-lg {
  font-size: 1.5rem;
  line-height: 2rem;
  text-wrap: balance;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

img,
video {
  max-width: 100%;
}
/* #endregion - Utilities */

/* #region - Main Nav Section */
.main-nav {
  position: fixed;
  background-color: #ef491f;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 10;
}

.main-nav .container,
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--major-font);
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

.main-nav .logo sup {
  font-size: 1rem;
}

nav ul {
  background: var(--primary-color);
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
}

nav ul a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s;
}

nav a:hover {
  color: white;
}

nav ul .smiley-mobile {
  display: none;
}

.nav-menu-btn {
  display: none;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: black;
  cursor: pointer;
}

.line {
  width: 20px;
  border: solid 1px white;
  border-radius: 5px;
}

.nav-menu-btn .middle-line {
  margin: -2px auto;
}
/* #endregion - Main Nav Section */

/* #region - Header Section */
header {
  background-color: var(--primary-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 6rem;
  padding-bottom: 5rem;
}

header .btn {
  margin: 1rem auto;
}

h1 {
  font-family: var(--major-font);
  font-size: 5rem;
  line-height: 1;
  margin: 1rem 0;
  text-transform: uppercase;
}

.smiley {
  width: 95px;
  margin-left: 0.8rem;
  margin-bottom: -1rem;
}

.header-img {
  rotate: -5deg;
  width: 400px;
  margin: 5px;
  border: #000 solid 3px;
}

.mobile-header-img {
  display: none;
}
/* #endregion - Header Section */

/* #region - About Section */
#about {
  padding-top: 6rem;
}

#about .container .about-item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  gap: 3rem;
}

#about .container .about-item:nth-child(1) h2 {
  width: 60%;
  z-index: 5;
}

#about .container .about-item figure {
  margin: 6rem 0 5rem -16rem;
  text-align: center;
  font-size: 1.5rem;
}

figure img {
  border: #000 solid 3px;
}

#about .container .about-item:nth-child(2) img {
  width: 45%;
  border: #000 solid 3px;
}

#about .container .about-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 480px;
}

.txt-primary {
  font-size: 1.5rem;
  max-width: 750px;
  color: var(--primary-color);
}

h2 {
  color: var(--primary-color);
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: var(--major-font);
  line-height: 3rem;
  margin: 0;
}

.video-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 6rem;
}

#video {
  display: block;
}

.video-mobile {
  display: none;
}

.video-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  text-align: center;
  font-family: var(--major-font);
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  line-height: 1.5rem;
}

.video-title span:nth-child(1) {
  text-shadow: #000000ac 2px 2px 5px;
}

.play-button {
  background-color: #ef491f;
  width: 50px;
  aspect-ratio: 1/1;
  font-size: 0.8rem;
  padding: 3px 0 0 4px;
  margin: 0 1rem;
  border-radius: 50%;
  box-shadow: #000 1px 2px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 0.8rem;
}

.play-button:hover {
  opacity: 0.95;
}

.icon-organic-meats {
  position: absolute;
  bottom: -4rem;
  left: 1rem;
}
/* #endregion - About Section */

/* #region - Food Menu Section */
#menu {
  padding-top: 8rem;
}

.menu .container .menu-wrapper {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 10rem;
}

.menu .menu-wrapper .menu-item {
  display: grid;
  width: 25%;
}

.menu .menu-wrapper .menu-item img {
  aspect-ratio: 1/1;
}

.menu .menu-wrapper .menu-item .text {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
}

.menu .menu-wrapper .menu-item .text .title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--major-font);
  font-size: 1.2rem;
  margin: 0;
}

.banner-wrapper {
  padding: 4rem 0;
  overflow: hidden;
}

.banner {
  background-color: var(--secondary-color);
  overflow-x: hidden;
  margin-bottom: 5rem;
  text-wrap: nowrap;
  rotate: -3deg;
}

.banner:nth-child(2) {
  rotate: 3deg;
  margin-top: -8rem;
}

.banner p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.banner p img {
  padding: 0 0.8rem;
}
/* #endregion - Food Menu Section */

/* #region - Reviews Section */
.reviews-wrapper {
  column-count: 3;
  column-gap: 1rem;
}

.review-item {
  background-color: #fff;
  align-items: flex-start;
  padding: 1.2rem;
  margin-bottom: 1rem;
  display: inline-flex;
  width: 100%;
}

.review-item img {
  padding-right: 1rem;
  padding-top: 0.5rem;
}

.review-item .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.load-more-btn {
  display: none;
  text-transform: uppercase;
  background-color: transparent;
  border: #000 solid 1px;
  width: 100%;
  padding: 1rem 0;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: var(--minor-font);
  margin: 0.8rem 0 4rem;
}

.load-more-btn:hover {
  background-color: #000;
  color: #fff;
}

.load-more-btn:active {
  scale: 0.95;
}
/* #endregion - Reviews Section */

/* #region - Social Section */
.instagram-wrapper {
  margin-top: 5rem;
  column-count: 5;
  gap: 0;
}

.instagram-wrapper img {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.instagram-wrapper img:hover,
.instagram-wrapper div:hover {
  filter: brightness(1.2);
}

.instagram-wrapper div {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  aspect-ratio: 1/1;
  display: grid;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 500;
}

.instagram-wrapper div p {
  margin: 0;
}
/* #endregion - Social Section */

/* #region - Footer */
footer {
  background-color: var(--primary-color);
  padding-top: 6rem;
}

.footer-nav-mobile ul {
  display: none;
}

.subscription-wrapper {
  width: 50%;
}

footer .logo {
  font-size: 4.5rem;
}

footer .logo sup {
  font-size: 2rem;
}

h3 {
  font-size: 2.5rem;
  font-family: var(--major-font);
  text-transform: uppercase;
  margin: 1rem 0;
  line-height: 1;
}

form {
  height: 4rem;
  display: flex;
}

form input {
  background-color: transparent;
  color: #000;
  border: #000 solid 1px;
  font-size: 1rem;
  font-family: var(--minor-font);
  height: 100%;
  width: 400px;
  margin: 0;
  padding: 1rem;
}

input::placeholder {
  color: #000;
}

form .btn {
  padding: 0.9rem 1.5rem;
}

.legal-nav ul {
  padding: 5rem 0 1.5rem;
  margin: 0;
}

.legal-nav ul a {
  font-weight: 400;
}
/* #endregion - Footer */

@media (width < 1080px) {
  header {
    text-align: center;
  }

  .header-img {
    display: none;
  }

  .mobile-header-img {
    display: block;
    margin: 0 auto 2rem;
    border: #000 solid 3px;
  }

  .smiley {
    display: none;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 2.6rem;
  }

  #about .container .about-item:nth-child(1) h2,
  #about .container .about-item:nth-child(2) img,
  #about .container .about-item div,
  #about .container .about-item figure {
    width: 50%;
    margin: 0;
  }

  #about .container .about-item figure {
    font-size: 1rem;
  }

  .txt-primary {
    font-size: 1.2rem;
  }

  .menu .container .menu-wrapper {
    flex-wrap: wrap;
  }

  .menu .menu-wrapper .menu-item {
    width: 50%;
    width: calc(50% - 0.6rem);
  }

  .menu .menu-wrapper .menu-item img {
    width: 100%;
  }

  .reviews-wrapper {
    column-count: 2;
    column-gap: 1rem;
  }

  .instagram-wrapper {
    column-count: 4;
  }

  .instagram-wrapper img:first-child {
    display: none;
  }

  .instagram-wrapper div {
    font-size: 2.1rem;
  }
}

@media (width < 768px) {
  h1 {
    font-size: 3.5rem;
  }
  header .btn {
    display: block;
    text-align: center;
  }

  .main-nav ul {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    left: 0;
    right: 0;
    top: 3rem;
    padding: 2rem;
    margin-top: 0;
    height: calc(100vh - 3rem);
    text-align: center;
    scale: 0;
    transition: scale 0.4s;
    transform-origin: top right;
    background-color: #ef491f;
    font-size: 2rem;
  }

  .main-nav ul li {
    line-height: 3rem;
  }

  nav.open ul {
    scale: 1;
  }

  nav ul .smiley-mobile {
    display: block;
    margin-top: 1rem;
  }

  nav.open .nav-menu-btn .top-line {
    rotate: 45deg;
    translate: 3px 0px;
  }

  nav.open .nav-menu-btn .middle-line {
    opacity: 0;
  }

  nav.open .nav-menu-btn .bottom-line {
    rotate: -45deg;
    translate: 3px 1px;
  }

  .nav-menu-btn {
    display: block;
  }

  .line {
    transition: rotate 0.5s linear, opacity 0.5s linear, translate 0.5s;
    transform-origin: left center;
  }

  #about {
    padding: 2rem 0;
  }

  #about .container .about-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    margin-bottom: 4rem;
  }

  #about .container .about-item:nth-child(1) h2,
  #about .container .about-item:nth-child(2) img,
  #about .container .about-item div,
  #about .container .about-item figure,
  #about .container .about-item figure img {
    width: 100%;
    margin: 0;
    align-items: start;
  }

  #about .container .about-item figure {
    margin-bottom: 3rem;
  }

  .video {
    display: none;
  }

  .video-mobile {
    display: block;
    width: 100%;
  }

  .video-wrapper {
    width: 100%;
    margin-top: 0;
  }

  .video-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-organic-meats {
    width: 9rem;
    bottom: -2.5rem;
  }

  #menu {
    padding-top: 3rem;
  }

  .menu .container .menu-wrapper {
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 5rem;
  }

  .menu .menu-wrapper .menu-item {
    width: 100%;
  }

  .banner {
    rotate: -4deg;
    margin-top: 1rem;
  }

  .banner:nth-child(2) {
    rotate: 7deg;
    margin-top: -8.5rem;
  }

  .reviews-wrapper {
    column-count: 1;
  }

  .load-more-btn {
    display: block;
  }

  .review-item:nth-child(n + 4) {
    display: none; /* Hide reviews after the 3rd item */
  }

  .instagram-wrapper {
    column-count: 2;
  }

  form {
    display: inline;
  }

  form input {
    width: 100%;
    text-align: center;
  }

  form .btn {
    width: 100%;
    font-size: 1.2rem;
    margin: 1rem 0 1.5rem;
  }

  .subscription-wrapper {
    width: 100%;
  }

  .footer-nav-mobile ul {
    text-align: center;
    display: grid;
    gap: 2rem;
    font-size: 1.5rem;
  }

  .footer-nav-mobile ul a {
    font-weight: 500;
  }

  .footer-nav ul {
    display: none;
  }

  .legal-nav ul {
    padding: 2rem 0 1.5rem;
    justify-content: center;
  }
}