* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ee4a1e;
  --secondary-color: #eef866;
  --light-color: #f6f2f0;
  --dark-color: #000;
}

body {
  font-family: 'Bowlby One SC', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--light-color);
  color: var(--dark-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .logo img {
  padding: 34px 0;
  display: flex;
}

.nav-links ul {
  display: flex;
  gap: 2rem;
}

/* Hero Section */
.hero .container {
  display: flex;
  justify-content: space-between;
}

.hero .hero-content {
  z-index: 1;
  width: 58%;
}

.hero .hero-content .hero-heading span {
  position: relative;
}

.hero .hero-content img {
  height: 125px;
  width: 125px;
  position: absolute;
  top: 1rem;
  right: -135px;
  z-index: 1;
}

.hero .hero-content button {
  margin: 48px 0 125px;
}

.hero .container .hero-image {
  margin: auto 0;
  width: 35%;
}

.hero .container .hero-image img {
  width: 100%;
  height: 100%;
  transform: rotate(-2.36deg);
}

/* About Section */
.about .about-row {
  display: flex;
  padding: 160px 0;
}

.about .about-row:nth-child(even) {
  flex-direction: row-reverse;
}

.about-row:nth-child(1) {
  position: relative;
  z-index: 1;
}

.about-row:nth-child(1) .about-fact-heading {
  position: relative;
  z-index: 1;
  width: 890px;
}

.about-row .about-fact-text {
  position: relative;
  z-index: 1;
  width: 600px;
}

.about-row:nth-child(1) .about-image {
  position: absolute;
  top: 371px;
  left: 629px;
  width: 580px;
  z-index: 0;
}

.about-row:nth-child(2) {
  align-items: center;
}

.about-row:nth-child(2) .about-image {
  padding-right: 10%;
  width: 600px;
}

.about .video-content {
  background: url('images/simona-sergi-CLn3Egvg8oc-unsplash-1.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .video-content button {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.about .video-content button img {
  width: 5rem;
  height: 5rem;
}

/* Menu Section */
.organic-meats-sign {
  position: absolute;
  top: -45px;
}

.menu {
  padding: 160px 0;
  position: relative;
}

.menu .menu-text {
  width: 800px;
}

.menu .burger-options ul {
  display: flex;
  gap: 1rem;
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.menu .card {
  width: 323px;
  background-color: #fff;
  color: #000;
}

.menu .card:nth-child(1) {
  position: relative;
}

.new-item {
  position: absolute;
  right: -20px;
  top: -50px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 4px 8px #585858);
}

.new-item p {
  color: var(--primary-color);
  position: absolute;
  top: 30;
  right: 45px;
  transform: rotate(15deg);

  font-family: Oswald;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  text-transform: uppercase;
}

.menu .card .card-content {
  padding: 24px;
}

.menu .card .card-content .burger-heading {
  font-family: 'Bowlby One SC', sans-serif;
}

/* Reviews Section */
.reviews {
  overflow-x: hidden;
}

.banner {
  display: flex;
  align-items: center;
  background-color: #eef866;
  height: 3.5rem;
  text-transform: uppercase;
  overflow-x: hidden;
  gap: .5rem;
}

.banner img {
  width: 2rem;
  height: 2rem;
}

.banner:nth-child(1) {
  transform: rotate(-2.7deg);
  min-width: 1600px;
}

.banner:nth-child(2) {
  transform: rotate(2.7deg);
  margin-top: -30px;
  min-width: 2100px;
  margin-bottom: 10rem;
}

.reviews .reviews-text {
  max-width: 800px;
  padding-bottom: 3.75rem;
}

.reviews .review-cards ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 650px;
  width: 100%;
  margin-bottom: 10rem;
  gap: 1rem;
  overflow: hidden;
}

.reviews .review-cards .card {
  background-color: #fff;
  color: #000;
  min-width: 200px;
  width: 33%;
  max-width: 435px;
  height: fit-content;
  display: flex;
  padding: 24px;
}

.reviews .review-cards .card img {
  max-width: 3rem;
  max-height: 3rem;
  margin-right: 17px;
}

.reviews .review-cards .card .card-heading {
  text-transform: uppercase;
}

/* Social Section */
.instagram-photos {
  display: flex;
  width: 100%;
}

.instagram-photos > * {
  background-color: #eef866;
  min-width: 20%;
  /* min-height: 100%; */
  /* min-width: 289px; */
  /* height: 100%; */
  aspect-ratio: 1/1;
}

.instagram-photos p {
  color: #ee4a1e;
  font-family: 'Oswald', sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 4rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 6rem 3rem 2.75rem;
}

/* Footer Section */
.footer {
  padding-top: 9.24rem;
  position: relative;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .left-column .footer-text {
  padding-bottom: 1rem;
}

.footer .left-column {
  max-width: 600px;
  padding-bottom: 4rem;
}

.footer .right-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer .left-column form {
  display: flex;
}

.footer .left-column form button {
  text-transform: uppercase;
  width: 131px;
  height: 60px;
  padding: 1rem 1.5rem;
  border: none;
}

.footer .left-column input {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: solid #000 1px;
  padding: 1.25rem 1rem;
  margin-bottom: 9.5rem;
}

.footer .left-column input::placeholder {
  color: #000;
}

.policy-links ul {
  display: flex;
  gap: 0.75rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 3rem;
  left: 3.3rem;
}

/* Utilities */
/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 16px 64px;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.05s;
}

.btn-primary:hover {
  background-color: var(--primary-color);
}

.btn-light:hover {
  background-color: var(--primary-color);
  color: #fff !important;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.btn-transparent {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Text Classes */
.text-xxl {
  font-family: 'Bowlby One SC', sans-serif;
  text-transform: uppercase;
  font-size: 6.875rem;
  line-height: 6.875rem;
  font-weight: 400;
  letter-spacing: -0.06875rem;
  padding: 40px 0 20px;
}

.text-xl {
  font-family: 'Bowlby One SC', sans-serif;
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 4rem;
  font-weight: 400;
  letter-spacing: -0.045rem;
  padding: 30px 0 20px;
}

.text-lg {
  font-family: 'Bowlby One SC', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: -0.045rem;
  padding: 30px 0 20px;
}

.text-md {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
  padding: 0;
}

.text-sm {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 400;
  padding: 10px 0 5px;
}

.text-xsm {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Background */
.bg-primary {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

.bg-light {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-transparent {
  background-color: transparent;
  color: #000;
}

/******* Responsive Media Screens *********/

@media (max-width: 500px) {
  .container {
    /* max-width: 375px; */
    margin: 0 auto;
    padding: 0 20px;
  }

  .text-xxl {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
  }

  .text-xl {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: -0.02rem;
  }

  .text-lg {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: .05rem;
  }

  .text-md {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  /* NAV MOBILE*/
  .navbar .nav-links {
    display: none;
  }

  .nav-links ul {
    flex-direction: column;
  }

  /* HERO MOBILE */
  .hero .container {
    flex-direction: column;
    justify-content: space-around;
  }

  .hero .hero-heading span img {
    display: none;
  }

  .hero .hero-content .hero-text {
    width: 100%;
    padding-bottom: 260px;
  }

  .hero .container .hero-image {
    margin: auto 0;
    width: 76%;
    position: absolute;
    right: 28px;
    top: 305px;
  }

  .hero .hero-content button {
    width: 100%;
    margin: 1.5rem 0 2.5rem;
  }

  /* ABOUT MOBILE */
  figcaption {
    font-size: 0.9rem !important;
  }

  .about .about-row {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  .about .about-row:nth-child(even) {
    flex-direction: column-reverse;
  }

  .about-row:nth-child(1) .about-fact-heading {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .about-row .about-fact-text {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .about-row:nth-child(1) .about-image,
  .about-row:nth-child(2) .about-image {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 20px;
    padding-right: 0;
    min-width: 0;
  }
  .about .video-content {
    background: url('images/simona-sergi-CLn3Egvg8oc-unsplash-1-mobile.png') no-repeat;
    background-size: contain;
    background-position: center;
  }

  .about .video-content button {
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem;
  }

  .about .video-content button img {
    width: 4rem;
    height: 4rem;
  }

  /* MENU MOBILE */
  .organic-meats-sign {
    width: 7.5rem;
    position: absolute;
    top: -100px;
  }

  .menu {
    padding: 0 0 4rem;
  }

  .menu .menu-text,
  .reviews .reviews-text {
    width: 100%;
  }

  .menu .burger-options ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 0rem;
  }

  .menu .card {
    width: 100%;
  }

  .menu .card img {
    width: 100%;
  }

  /* BANNER MOBILE */
  .banner:nth-child(1) {
    transform: rotate(-2.7deg);
    min-width: 100%;
  }

  .banner:nth-child(1) > * {
    display: none;
  }

  .banner:nth-child(1) img:nth-child(2),
  .banner:nth-child(1) p:nth-child(3) {
    display: block;
  }

  .banner:nth-child(2) {
    transform: rotate(2.7deg);
    min-width: 100%;
    margin-bottom: 3rem;
  }

  .banner:nth-child(2) > * {
    display: none;
  }

  .banner:nth-child(2) img:nth-child(1),
  .banner:nth-child(2) p:nth-child(2),
  .banner:nth-child(2) img:nth-child(3) {
    display: block;
  }

  .banner img {
    width: 1.4rem;
    height: 1.4rem;
  }

  /* REVIEWS MOBILE */
  .reviews .review-cards ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 650px;
    width: 100%;
    margin-left: -1rem;
    margin-bottom: 10rem;
    gap: 1rem;
  }

  .reviews .review-cards .card {
    background-color: #fff;
    color: #000;
    min-width: 300px;
    width: 100%;
    max-width: 435px;
    height: fit-content;
    display: flex;
    padding: 24px;
  }

  .review-cards {
    display: none;
  }

  /* SOCIAL RESPONSIVE */
  .social .instagram-photos {
    flex-wrap: wrap;
  }

  .instagram-photos > * {
    width: 50%;
    min-height: 50px;
    min-width: 50px;
    height: 188px;
  }

  .social .instagram-photos img:nth-child(1) {
    display: none;
  }

  .instagram-photos p {
    font-size: 1.736rem;
    line-height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem;
  }

  /* FOOTER MOBILE */
  .footer .container {
    flex-direction: column;
  }

  .footer .right-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 6.5rem;
    text-transform: uppercase;
    text-align: center;
  }

  .policy-links ul {
    width: 100%;
    justify-content: center;
    position: relative;
  }

  .footer .left-column {
    max-width: 600px;
    height: fit-content;
  }

  .footer .left-column form {
    flex-direction: column;
    gap: 1rem;
  }

  .footer .left-column form button {
   
    width: 100%;
  }

  .footer .left-column input {
    margin-bottom: 0;
  }


}
