* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ee4a1e;
  --secondary-color: #eef866;
  --light-color: #f6f2f0;
  --dark-color: #000;
}

body {
  font-family: 'Bowlby One SC', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--light-color);
  color: var(--dark-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .logo img {
  padding: 34px 0;
  display: flex;
}

.navbar ul {
  display: flex;
  gap: 2rem;
}

/* Hero Section */
.hero .container {
  display: flex;
  justify-content: space-between;
}

.hero .hero-content .hero-heading span img {
  height: 125px;
  width: 125px;
  margin: -24px;
}

.hero .hero-content .hero-text {
  width: 600px;
}

.hero .hero-content button {
  margin: 48px 0 125px;
}

.hero .container .hero-image {
  margin: auto 0;
  width: 40%;
}

.hero .container .hero-image img {
  width: 100%;
  height: 100%;
  transform: rotate(-2.36deg);
}

/* About Section */
.about .about-row {
  display: flex;
  padding: 160px 0;
}

.about .about-row:nth-child(even) {
  flex-direction: row-reverse;
}

.about-row:nth-child(1) {
  position: relative;
  z-index: 1;
  /* width: 890px; */
}

.about-row:nth-child(1) .about-fact-heading {
  position: relative;
  z-index: 1;
  width: 890px;
}

.about-row .about-fact-text {
  position: relative;
  z-index: 1;
  width: 480px;
}

.about-row:nth-child(1) .about-image {
  position: absolute;
  top: 371px;
  left: 629px;
  width: 580px;
  z-index: 0;
}

.about-row:nth-child(2) {
  align-items: center;
}

.about-row:nth-child(2) .about-image {
  padding-right: 10rem;
  min-width: 600px;
}

.about .video-content {
  background: url('images/simona-sergi-CLn3Egvg8oc-unsplash\ 1.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .video-content button {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.about .video-content button img {
  width: 5rem;
  height: 5rem;
}

/* Utilities */
/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 16px 64px;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.05s;
}

.btn-primary:hover {
  background-color: var(--primary-color);
}

.btn-light:hover {
  background-color: var(--primary-color);
  color: #fff !important;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.btn-transparent {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Text Classes */
.text-xxl {
  font-family: 'Bowlby One SC', sans-serif;
  font-size: 6.875rem;
  line-height: 6.875rem;
  font-weight: 400;
  letter-spacing: -0.06875rem;
  padding: 40px 0 20px;
}

.text-xl {
  font-family: 'Bowlby One SC', sans-serif;
  font-size: 4.5rem;
  line-height: 4rem;
  font-weight: 400;
  letter-spacing: -0.045rem;
  padding: 30px 0 20px;
}

.text-lg {
  font-family: 'Bowlby One SC', sans-serif;
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: -0.045rem;
  padding: 30px 0 20px;
}

.text-md {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
  padding: 0;
}

.text-sm {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 400;
  padding: 10px 0 5px;
}

.text-xsm {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Background */
.bg-primary {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

.bg-light {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-transparent {
  background-color: transparent;
  color: #000;
}
